<h3>Detalles del carro</h3>
<div>
    <div>
        <label><b>ID: </b>{{carro.id}}</label>
    </div>
    <div>
        <label><b>Placa: </b>{{carro.placa}}</label>
    </div>
    <div>
        <label><b>Piso: </b>{{carro.num_piso}}</label>
    </div>
    <div>
        <label><b>Hora Ingereso: </b>{{carro.h_ingreso}}</label>
    </div>
    <div>
        <label><b>Hora Salida: </b>{{carro.h_salida}}</label>
    </div>
    <div>
        <label><b>Valor a Pagar: </b>{{carro.valor_a_pagar}}</label>
    </div>
</div>