<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Editar Piso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Control de pisos</a>
        <div class="collapse navbar-collapse" id="collapseNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"
                th:href="@{/pisos}">Control de pisos</a> </li>
                <li class="nav-item"><a class="nav-link"
                    th:href="@{/precios}">Precios</a> </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
       <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Edicion de piso</h1>
            <div class="card-body">
                <form th:action="@{/pisos/{id}(id=${piso.id})}" th:object="${piso}" method="POST">
                    <div class="form-group">
                        <label>Numero de piso: </label>
                        <input type="text" name="numero" th:field="*{numero}" class="form-control" placeholder="Digite numero de piso: " required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Tipo de vehiculo: </label>
                        <select type="text" name="tipo_v" th:field="*{tipo_v}" class="form-control" required>
                            <option value="carro">Carro</option>
                            <option value="moto">Moto</option>
                            <option value="Bus">Bus</option>
                        </select>
                    </div>
                    <br>
                    <div class="box-footer">
                        <button class="btn btn-success">Guardar</button>

                    </div>
                </form>
            </div>

        </div>

    


</body>

</html>